/* Main Dashboard CSS */
.dashboard {
  flex: 1;
  padding: 2.5rem 1.575rem;
  background-color: #b2e4fa;
  min-height: 100vh;
  height: 100%;
}

/* Scroll bar CSS */
.scroll-bar-outer {
  padding: 3.5rem 5rem 10rem 5rem;
  background-color: #ffffff80;
  border-radius: 2rem;
}

.scroll-bar {
  overflow: scroll;
  height: 31rem;
  scrollbar-color: #43c0f6 #fff;
  padding-right: 3rem;
}

/* .scroll-bar::-webkit-scrollbar {
  width: 10px;
}
.scroll-bar::-webkit-scrollbar-button {
  width: 10px;
  color: red;
  background-color: red;
}

.scroll-bar::-webkit-scrollbar-track {
  width: 10px;
  color: red;
  background-color: red;
}
.scroll-bar::-webkit-scrollbar-track-piece {
  width: 10px;
  color: red;
  background-color: red;
}
.scroll-bar::-webkit-scrollbar-thumb {
  color: yellow;
  background-color: yellow;
}
.scroll-bar::-webkit-scrollbar-corner {
}
.scroll-bar::-webkit-resizer {
} */

/* header of project tracker CSS */
.progess-tracker-header {
  display: flex;
  justify-content: space-between;
}

/* Heading  project tracker CSS  */
.progress-tracker-heading {
  font-size: 1.575rem;
  color: #6c6c6c;
}

/* Spredsheet Export Button CSS */
.spreadsheet {
  display: flex;
  font-size: 0.95rem;
  font-weight: 600;
  color: #6c6c6c;
  text-transform: uppercase;
  width: 16rem;
  border: 0;
  background-color: transparent;
  align-items: center;
  justify-content: flex-start;
}

.spreadsheet img {
  margin-right: 0.25rem;
}

/* Student Details Section CSS */
.student-project-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.student-projects {
  background-color: #fff;
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem 4.75rem 1.5rem 1.575rem;
  border-radius: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.student-details {
  width: 10.5rem;
}

.student-project-details {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  margin-left: 2rem;
}

.student-name {
  color: #707070;
  font-size: 1.05rem;
}

.project-completed-text {
  color: #707070;
  font-size: 0.735rem;
  margin-top: 0.25rem;
}

.project-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 1px solid #a2a0a0;
  border-radius: 50%;
}

/*  */
.student-completed-projects {
  background-color: #99edcc;
}
