.dashboard-wrapper {
  display: flex;
  width: 100%;
}

.navWrapper,
.boxTwo {
  display: flex;
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
  :root {
    font-size: 15.5px;
  }
}
