* {
  box-sizing: border-box;
}

body,
html,
p,
a,
li,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

@media (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1400px) {
  :root {
    font-size: 16px;
  }
}
